{% extends "base.html" %}
{% load static %}

{% block title %}Lesson: {{ lesson.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>Docente:</h2> <p>{{ lesson.teacher }}</p><br />
      <h2>Materia:</h2> <p>{{ lesson.subject }}</p><br />
      <h2>Lezione:</h2> <p>{{ lesson.name }}</p><br />
      <h2>Descrizione:</h2> <p>{{ lesson.description }}</p><br />
      <h2>Date:</h2> <p>{{ lesson.date }}</p><br />
      <h2>Ora:</h2> <p>{{ lesson.start_time }} - {{ lesson.end_time }}</p><br />
      </h2>
    </div>
  </div>
{% endblock content %}
